<br>


<br><br><br>

<div class="row">
    <div class="col col-lg-4 text-center container justify-content-center ">
        <h3>Ingredients</h3>
        <br><br>
        <div class="card-group">
            <div class="" *ngIf="cocktail.strIngredient1!==null">
                <app-ingredient [Ingredient]='cocktail.strIngredient1' [Measure]='cocktail.strMeasure1'>
                </app-ingredient>
            </div>
            <div class="" *ngIf="cocktail.strIngredient2!==null">
                <app-ingredient [Ingredient]='cocktail.strIngredient2' [Measure]='cocktail.strMeasure2'>
                </app-ingredient>
            </div>
            <div class="" *ngIf="cocktail.strIngredient3!==null">
                <app-ingredient [Ingredient]='cocktail.strIngredient3' [Measure]='cocktail.strMeasure3'>
                </app-ingredient>
            </div>
            <div class="" *ngIf="cocktail.strIngredient4!==null">
                <app-ingredient [Ingredient]='cocktail.strIngredient4' [Measure]='cocktail.strMeasure4'>
                </app-ingredient>
            </div>
            <div class="" *ngIf="cocktail.strIngredient5!==null">
                <app-ingredient [Ingredient]='cocktail.strIngredient5' [Measure]='cocktail.strMeasure5'>
                </app-ingredient>
            </div>
            <div class="" *ngIf="cocktail.strIngredient6!==null">
                <app-ingredient [Ingredient]='cocktail.strIngredient6' [Measure]='cocktail.strMeasure6'>
                </app-ingredient>
            </div>
        </div>
    </div>
    <div class="col borderright"></div>
    <div class="col ">
        <h3 class="text-center">Preparation</h3>
        <br>
        <li class="item">
            <span class="dot">1</span> Start by taking a {{cocktail.strGlass}}.
        </li>
        <br>
        <li class="item">
            <span class="dot">2</span> {{cocktail.strInstructions}}
        </li>
        <br>
        <li class="item">
            <span class="dot">3</span> Degust and appreciate your {{ cocktail.strDrink | uppercase }} (with moderation) !

        </li>
    </div>
</div>
<br><br>
<a routerLink="">
    <div class="hero-text">
        <div class="col-md-auto">
            <img [src]="myLogoBlanc" width="450rem" />
        </div>
        <br>
        <p class="card-title">How to make the drink "{{ cocktail.strDrink | uppercase }}"</p>
        <br>
        <span class="tag ">{{ cocktail.strCategory | uppercase }}</span>
        <span class="tag ">{{ cocktail.strAlcoholic | uppercase }}</span>
    </div>
</a>
