/* The hero image */
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(231, 231, 231);
    text-shadow: rgb(19, 19, 19) 1px 0 10px;
  }

  .imagee{
    object-fit: cover ;
    width: 100%; 
    height: 200px;
    filter: grayscale(50%);
    background-color: #303030;
  }
.padimg{
  background-color: #303030;
}
.left{
  border-right-style: solid;
  border-color: #303030;
  border-width: 1px;
  margin-right: 10px;
}
.dot {
    background: #303030;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  font-size: 20px;

  }
li{
    list-style-type: none;
}
.item{
    margin: 20px;
    font-size: 20px;
}
.separator {
  background-color: #303030;
  height: 30px;
}