<li>
    <a (click)="open(cocktail.idDrink)">



        <div class=" m-2 ombre" style="width: 15rem;">

            <div class="photo">
                <img class="card-img  grayimage" [src]=cocktail.strDrinkThumb alt="Card image cap">
            </div>

            <div class="card-body text-center">
                <h3 class="card-title center">{{ cocktail.strDrink | uppercase }}</h3>
                <p class="card-text">{{ cocktail.strCategory }}</p>
                <div class="label label-danger">{{ cocktail.strAlcoholic }}</div>
                <br>
                <h6>
                    <ng-container *ngIf="cocktail.strIngredient1 !== null">
                        {{ cocktail.strIngredient1 }}
                    </ng-container>
                    <ng-container *ngIf="cocktail.strIngredient2 !== null">
                        , {{ cocktail.strIngredient2 }}
                    </ng-container>
                    <ng-container *ngIf="cocktail.strIngredient3 !== null">
                        , {{ cocktail.strIngredient3 }}
                    </ng-container>
                    <ng-container *ngIf="cocktail.strIngredient4 !== null">
                        , {{ cocktail.strIngredient4 }}
                    </ng-container>
                    <ng-container *ngIf="cocktail.strIngredient5 !== null">
                        , {{ cocktail.strIngredient5 }}
                    </ng-container>
                    <ng-container *ngIf="cocktail.strIngredient6 !== null">
                        , {{ cocktail.strIngredient6 }}
                    </ng-container>
                </h6>
            </div>
        </div>
    </a>
    <br>

</li>