li {
    list-style-type: none;
}

.photo {
    display: inline-block;
    overflow: hidden;
    /* clip the excess when child gets bigger than parent */
}

.photo img {
    display: block;
    transition: transform .4s;
    overflow: hidden;
    /* smoother zoom */
}

.card:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
    overflow: hidden;
    filter: blur(2px);
}

.label-danger {
    color: rgb(31, 31, 31);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
}

.card:hover {
    box-shadow: 2px 2px 5px rgb(73, 73, 73);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles pour cette Media Queries */
    [class*="col-"] {
        width: 100%;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
