li {
    list-style-type: none;
}

.photo {
    display: inline-block;
    overflow: hidden;
    /* clip the excess when child gets bigger than parent */
}

.photo img {
    display: block;
    transition: transform .4s;
    overflow: hidden;
    /* smoother zoom */
}

.photo:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
    overflow: hidden;
}

.grayimage {
    filter: grayscale(0%);
}

.grayimage:hover {
    filter: grayscale(60%);
}

.label-danger {
    color: white;
    background-color: #303030;
    border-radius: 20px;
}
