body {
    font-family: 'Open Sans', sans-serif;
}

.nav-link {
    color: #303030;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles pour cette Media Queries */
    img {
        width: 100%;
    }
}
