html {
    font-family: 'Open Sans', sans-serif;
}

.footer {
    background-color: #242424;
    color: white;
    width: 100%;
}

.footerelement {
    padding-top: 20px;
}

.sousfooter {
    background-color: #1a1a1a;
    color: white;
    padding: 1%;
}

p {
    font-size: small;
}

a {
    text-decoration: none;
    color: rgb(241, 241, 241);
}

.rr {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles pour cette Media Queries */
    .rr {
        flex-direction: column;
    }
    .col {
        display: none;
    }
}
