<div class="footer">
    <div class="footerelement container  ">
        <div class="row justify-content-md-around">
            <div class="col col-lg-2">
                <h5>CREDITS</h5><br>
                <p>Theo DUBOIS</p>
                <p>Alexandre BEAU</p>
                <p>Alice DUBOST</p>
            </div>
            <div class="col-md-auto">
                <img [src]="myLogoBlanc" width="400px" />
            </div>
            <div class="col col-lg-2 m-3 text-center">
                <h5>Credits</h5>
            </div>
        </div>
    </div>

</div>
<div class="sousfooter d-flex justify-content-center">
    <h6>© 2022 Cocktail Factory / ISEN Project.</h6>
</div>
