<div class="footer">
    <div class="container footerelement justify content-center">
        <div class="row">
          <div class="col-sm">
            <h5>Credits</h5>
            <p>Theo DUBOIS</p>
            <p>Alexandre BEAU</p>
            <p>Alice DUBOST</p>
          </div>
          <div class="col-sm">
            <img [src]="myLogoBlanc" width="400px" />
          </div>
          <div class="col-sm">
            <h5>Credits</h5>
          </div>
        </div>
      </div>

</div>
<div class="sousfooter d-flex justify-content-center">
    <h6>© 2022 Cocktail Factory / ISEN Project.</h6>
</div>

