<div class="footer">
    <div class="footerelement ">
        <div class="rr justify-content-md-around">
            <div class="col col-lg-2">
                <h6>CREDITS</h6><br>
                <p>Theo DUBOIS</p>
                <p>Alexandre BEAU</p>
                <p>Alice DUBOST</p>
            </div>
            <div class="col-md-auto">
                <img [src]="myLogoBlanc" width="400rem" />
            </div>
            <div class="col col-lg-2  text-center">
                <h6>API USED :</h6><br>
                <a href="http://www.thecocktaildb.com">
                    <p>Cocktail DB</p>
                    <p>www.thecocktaildb.com</p>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="sousfooter d-flex justify-content-center">
    <h6>© 2022 Cocktail Factory / ISEN Project.</h6>
</div>
