<br>
<div class="container ">
    <div class="row">
      <div class="col text-center">
        <h1 class="card-title m-2">{{ingredient.strIngredient}}</h1>
        <br>
          <div class="card-img rounded justify-content-center">
            <img style="width: 15rem;" src="https://www.thecocktaildb.com/images/ingredients/{{ingredient.strIngredient}}-Medium.png" alt="Card image cap">
         </div>
        </div>
      <div class="col">
          <p><em>{{ingredient.strDescription}}</em></p>
          <h1 *ngIf="ingredient.strDescription==null">No description Found</h1>
      </div>
      </div>
</div>
<br>
<br>
<div class="container text-center " style="">
    <h5 class="display-5 m-2">All related cocktails</h5><br>
    <div class="card-group justify-content-center" *ngIf="cocktails !== null">
        <div class="" *ngFor="let cocktail of cocktails">
            <app-small-cocktail [cocktail]='cocktail'></app-small-cocktail>
        </div>
    </div>
</div>
  
