.photo {
    margin-top: 20px;
}

.zoom:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #303030;
}
a:hover{cursor: pointer;}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles pour cette Media Queries */

}