<br>

<div class="search container text-center">
    <form [formGroup]="searchForm" class="justify-content-center">
        <div>
          <input formControlName="search" class="inputsearch" placeholder="Rechercher un cocktail, ingredient ou alcool">
        </div>
          <div class="filtre d-flex justify-content-center">
            <div class="form-check form-switch">
              <label class="form-check-label" for="flexSwitchCheckChecked">With alcool</label>
              <input class="form-check-input pull-right" type="checkbox" formControlName='check' id="flexSwitchCheckChecked" checked>

            </div>
          </div>
    </form>
</div>
<br>

<div class="">
    <div class="card-group" *ngIf="cocktails !== null">
        <div class="" *ngFor="let cocktail of cocktails">
          <div >
            <div *ngIf="cocktail.strAlcoholic=='Alcoholic' || cocktail.strAlcoholic=='Optional alcohol'">
              <app-cocktail [cocktail]='cocktail'></app-cocktail>
          </div>
          </div>
      </div>
</div>

<div *ngIf="cocktails==null" class="text-center">
  <h1 >No result !</h1>
  <br>
</div>