.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    line-height: 40px;
}

.searchbar.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}