<app-header></app-header>
<div class="search justify-content-center container text-center">
    <form [formGroup]="searchForm" class="justify-content-center">
        <div>
            <input formControlName="search" class="inputsearch" placeholder="Search a cocktail by name">
        </div>
        <div class="filtre d-flex justify-content-center">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked1">{{ filterlabel}}</label>
                <input class="form-check-input pull-right" type="checkbox" #checkbox1 (change)="onChange2(checkbox1.checked)" id="flexSwitchCheckChecked1">
            </div>
        </div>
    </form>
    <div class="filtres w-50 mx-auto text-center justify-content-center" *ngIf="checked1==true">
        <div class=" d-flex m-2 justify-content-center">
            <div class=" form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">{{ alclabel }}</label>
                <input class="form-check-input pull-right" #checkbox (change)="onChange(checkbox.checked)" id="flexSwitchCheckChecked" type="checkbox" checked>
            </div>
        </div>
        <div class=""><a routerLink="/random">
                    No idea? Find a random cocktail !  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-2" viewBox="0 0 16 16">
                        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
                        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                </a>
        </div>
        <br>
    </div>


</div>
<div class="container justify-content-center ">
    <div class="text-center">
        <h6 class="alhpabet">
            <a (click)="open('A')">A</a> / <a (click)="open('B')">B</a> / <a (click)="open('C')">C</a> / <a (click)="open('D')">D</a> / <a (click)="open('E')">E</a> / <a (click)="open('F')">F</a> / <a (click)="open('G')">G</a> /
            <a (click)="open('H')">H</a> / <a (click)="open('I')">I</a> / <a (click)="open('J')">J</a> / <a (click)="open('K')">K</a> / <a (click)="open('L')">L</a> / <a (click)="open('M')">M</a> / <a (click)="open('N')">N</a> /
            <a (click)="open('O')">O</a> /
            <a (click)="open('P')">P</a> / <a (click)="open('Q')">Q</a> / <a (click)="open('R')">R</a> / <a (click)="open('S')">S</a> / <a (click)="open('T')">T</a> / <a (click)="open('U')">U</a> / <a (click)="open('V')">V</a> /
            <a (click)="open('W')">W</a> / <a (click)="open('X')">X</a> / <a (click)="open('Y')">Y</a> / <a (click)="open('Z')">Z</a> </h6>
    </div>
    <div class="container justify-content-center">
        <app-cocktail-list [cocktails]='cocktails'></app-cocktail-list>
    </div>
</div>
